.chat-read{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #fafafa;

}

.chat-read:hover {
    box-shadow: 5px 5px 5px rgb(247, 246, 246);
  }

.chat-read::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: -10px;
    margin-left: 10px;
  }


.chat-unread {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    /* border-bottom: 1px solid #fafafa; */
    /* border-bottom: 1px solid #fafafa; */
    border: 1.3px solid #f9f8f6;


  }

  
  .chat-unread:hover {
    box-shadow: 5px 5px 5px rgb(247, 246, 246);
  }


  
  .chat-unread::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-color: #0071bc;
    border-radius: 50%;
    margin-left: 10px;
  } 

  .chat-unread > p {
    color: rgb(117, 116, 116);
    font-weight: 550;
    /* font-weight: bold; */
  }
  
.chat__details{
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit
}


.chat__details > p {
    color:  rgb(78, 77, 77);
}


.chat__image{
    margin-right: 20px
}

.chat__timestamp{
    color: lightgrey;
    padding-right: 15px
}

#chat__noMessage{
    color: lightgray;
}

.handshake-emoji {
    font-size: 1.5em; 
}

.chat__image{
    margin-right: 20px
}  


/* flex: 1; is to give the container 
to take up as much room as possible within the space between
before applying flex one the area it takes up is equal to space between
after it is applied it takes up as much of the space between as possible 
*/