

  .loaded.tinder {
    opacity: 1;
  }
  
  .tinder--cards{
    flex-grow: 1;
    padding-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    /* align-items: flex-end; */
    z-index: 1;
}

.tinder--status i {
    font-size: 100px;
    opacity: 0;
    transform: scale(0.3);
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 100px;
    margin-left: -50px;
  }

  .tinder--card {
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    overflow: hidden;
    will-change: transform;
    transition: all 0.3s ease-in-out;
    transition: box-shadow 0.3s ease;
  }

  .moving.tinder--card {
    transition: none;
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
  }
  
  .tinder--card:hover {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  .tinder--card .displayCard__image-container {
    position: relative;
    width: 400px;
    height: 460px;
    padding-bottom: 0;
  }
  

  .tinder--card .tinder--card-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 435px;
    object-fit: cover;
    border-radius: 20px;
    padding-bottom: 12px;
    
  }
  
  .tinder--card .dislpayCard__h1 {
    position: absolute;
    bottom: 25px;
    left: 20%;
    transform: translateX(-50%);
    margin: 0;
    font-size: 24px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 10px;
  }