.swipeButtons {
    position: fixed;
    bottom: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
 
  }
  
  .swipeButtons button {
    border: none;
    background-color: white;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.3) !important;
    border-radius: 50%; /* Add this property to make the buttons circular */
    padding: 11px; /* Adjust the padding as desired */
  }
  
  .swipeButtons__left {
    color: #ec5e6f !important;
    cursor: pointer;
  }
  
 .swipeButtons__right {
    color: #29ABE2 !important;
    cursor: pointer;
  } 


  