
.userProfile {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* padding: 30px; */
  position: relative;
  text-align: center;
  width: 90%;
  max-width: 500px; /* Adjust the value to your desired width */
  height: 600px; /* Set a fixed height to accommodate the larger image size */
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.userProfile:hover {
  box-shadow: 10px 100px 100px rgb(202, 198, 198);
}


.userProfile__image-container {
  position: relative;
  width: 400px; 
  height: 500px; 
  padding-bottom: 75%; 
}


.userProfile__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 435px;
    object-fit: cover;
    border-radius: 20px;
}


.userProfile__h1 {
  position: absolute;
  bottom: 50px;
  left: 10%;
  margin: 0;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 10px;
}

.userProfile p {
  font-size: 18px;
  margin-bottom: 20px; 
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(92, 90, 90, 0.16);
}

.edit-icon-container {
  position: absolute;
  bottom: 10px;
  right: 1px;
}

.edit-icon {
  font-size: 50px;
  color: #555;
} 

.edit{
  padding: 40px;
}


