.header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f9f9f9;
    align-items: center;
}

.header__logo{
    height: 90px;
    padding-top: 10px;
    object-fit: contain; /* always use this */
}

.header__icon{
    padding: 20px;
}

.custom-badge.MuiBadge-badge {
    position: absolute;
    top: 19px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    background-color: #0071BC; /* Set your desired background color */
    color: white; /* Set your desired text color */
    padding: 10px 7px; /* Adjust the padding as needed */
    font-size: 15px; /* Adjust the font size as needed */
    font-weight: bold; /* Set the font weight to bold for emphasis */
    border-radius: 10px; 
    border: 2px solid white; /* Add an outline by setting the border properties */
  }


/* object-fit: contain will keep the aspect ratio while maintaing the size  */