.edit-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
     /* margin-bottom: -30px; */
     /* margin: -55px; */
     margin: -40px;
     /* padding: -30px; */
     position: relative;
  }
  
  .edit-form {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    padding: -50px;
    margin: -15px;
    /* margin-top: -30px; */
  }
  
  .edit-heading {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;

  }

  .edit-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #bio {
    height: px;
  }
  
  .image-field {
    display: block;
    margin-bottom: 20px;
  }
  
  .userEdit__image {
    border-radius: 20px;
    height: 350px;
    width: 90%;
    /* padding-left: 30px; */
    margin-left: 20px;
    /* width: 340px;
    height: 435px; */
    object-fit: cover;
    margin-bottom: 20px;
  }
  
  .edit-submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0071BC;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-error {
    color: red;
    margin-top: 10px;
  }
  
  .back-button{
    position: absolute;
    top: -28px;
    left: 390px;
    border-radius: 20%;
  }

  /* .back-button-icon .MuiSvgIcon-root {
    font-size: 35px;
    position: absolute;
    top: -28px;
    left: 390px;
    border-radius: 40px;
    color: #0071BC; 
  } */

  .back-button-icon .MuiSvgIcon-root {
    font-size: 33px;
    position: absolute;
    top: -30px;
    left: -25px;
    bottom: 70px;
    border-radius: 40px;
    color: #0071BC; 
  }

  