.settings-container {
    width: 100px; /* Adjust the maximum width to your desired value */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px;

  }

.show-settings{
    width: 100px ;
}

.logout-button{
    background-color: #0071BC;
}